header{
    background-color: aqua;
    background-size: 250px;
    background-image: url(../img/pattern.png);
    padding-top:30px;
}
#logobooleaner{
    width: 150px;
}
#foto1{
    display: inline-block;
}
#foto2{
    display: inline-block
}