header{
    background-color: aqua;
    background-size: 250px;
    background-image: url(../img/pattern.png);
    padding-top:30px;
}
#logobooleaner{
    width: 150px;
}
#tabella th{
    background-color: aqua;
    color: white;
    border-collapse:collapse;
    width: 100%;
}
.color-raw{
    background-color: aqua;
}
