body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* HEADER */
header{
    background-color: #7cdbf0;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    background-image: url(../img/pattern.png);
}
.logoheader{
    height: 50px;
    margin-right: 10px;
}